<div>
picture:<input type="text" id="giftPicture"/><br/>
name:<input type="text" id="giftName"/><br/>
description:<input type="text" id="giftDescription"/><br/>
price:<input type="text" id="giftPrice"/><br/>
child:<input type="text" id="giftChild"/><br/>
<input type="button" id="giftCreate" onclick="createGift()" value="create"/></br>
</div>
<br/>
<div>
REMOVE<br />
name:<input type="text" id="removeName"/><br/>
<input type="button" id="giftRemove" onclick="removeGift()" value="remove"/></br>
</div>
